@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*permet aux boite de ne pas grossire quand l'on met du padding*/
}


body{
    font-family: "Inter", serif;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween{
    justify-content: space-between;
}


.alignCenter{
    align-items: center;
}
a{
   
    display: inline-block;
}

li{
    list-style: none;
}

.btn{ 
    background-color: #B9625D;
    padding: 16px 55px;
    border-radius: 15px;
    font-size:1.5rem;
   color: white;
   text-decoration: none;
}

/*HEADER*/

header nav{
width: 40%;
}

header{
    padding: 10px 40px;
}

header img{
    width: 15%;
}

header{
    padding: 0px 40px;
    background-color: #B9625D;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;
    width: 100%;
}

header a{
    color: white;
    text-decoration: none;
}



/*HERO*/

.hero { 
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.hero div { 
   background-color: #aa9f9f28;/*penser a abaisser la second barre*/
    width: 50%;
    position: absolute; /*permet de modifier la position*/
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);/*permet de déplasser la div*/
    text-align: center;
    padding: 64px;
    border-radius: 23px;
    color: white;
    backdrop-filter: blur(10px);/*permet de flouter*/
}

h1{ 
    font-size: 35px;
    margin-bottom: 15px;
}

.hero p{
    font-size: 30px;
    margin-bottom: 35px;
}

/*section service*/

.containerService div{
   /* background-color: #B9625D;*/
    width: 70%;
    margin-left: 80px;
    gap: 10px;
}

.containerService aside{
   /* background-color: aqua;*/
    width: 15%;
    

}
 
.containerService img{
    width: 372px;
    height: 326px;
    object-fit: cover;
}
.container{
   max-width: 1200px;
    width: 100%;
    margin: auto;
}

.mH2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.imgB{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.divCard{
    width: 67%;
}

.her2{
    width: 100%;
    height: 100vh;
    position: relative;
}

.card{
    position: relative;
    display: block;
    color: white;
    border-radius: 23px;
}

.card img{
    border-radius: 20px;

}
.card h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.stycky{
    position: sticky;
    top: 20%;
}

.filigram{
    position: fixed;
    top: 192px;
    left: 0px;
    z-index: -1;
}

.pardive{
    background-color: #B9625D;
}

.divpart{
    width: 40%;
}

.divpart h4{
    margin-bottom: 15px;
}
.margeT{
    margin: 70px;
    
}
.margeT img{
    border-radius: 12px;
}

